<!--The tab layout has been defined as the footer which is replicated in the other page. -->
<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon name="planet"></ion-icon>
            <ion-label>HOME</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="startAdvisor">
            <ion-icon name="add-circle"></ion-icon>
            <ion-label>START ADVISOR</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="leaderboard">
            <ion-icon name="clipboard"></ion-icon>
            <ion-label>LEADERBOARD</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="settings">
            <ion-icon name="settings"></ion-icon>
            <ion-label>SETTINGS</ion-label>
        </ion-tab-button>

    </ion-tab-bar>
</ion-tabs>
